### 데이터 전처리(Processing)=================================================

-데이터 분석

    *결측치 체크 및 처리
    *중복체크 및 처리
    *이상치 체크 및 처리
    *데이터 타입 정리 => (실제 값 2.39--string타입)
    *데이터 타입 변환 => (실제 값 32, 21, 9, 3.....---범주형 데이터 타입)
    *데이터 타입 인코딩 처리 => (문자형 데이터 ---> 숫자형)
    *데이터 스케일링 처리 => (수치 데이터 ---> 값의 범위 일치)

In [1]:
# 모듈 로딩--------------------------------------------------------------------------------
import pandas as pd
from numpy import nan

In [8]:
# 데이터 생성-------------------------------------------------------------------------------
names=["홍길동", "이나영", "마징가", "변사또", "원더우먼", "원빈", "현빈", "박보검", "오우영", "김동우"]

ages= [0,4,21,20,38,100,40,61,11,20]
genders=['M','F','M','M','F','M','M','M','M','M']

In [9]:
personDF=pd.DataFrame({'names':names,'ages':ages,'genders':genders})

In [10]:
personDF.head(3)

  names  ages genders
0   홍길동     0       M
1   이나영     4       F
2   마징가    21       M

In [12]:
personDF.dtypes

names      object
ages        int64
genders    object
dtype: object

### [데이터 전처리] -

### (1) 데이터 타입 체크 및 처리--------------------------------------------------------
- astype("데이터타입") : 반드시 원본 저장해야 적용됨, inplace 매개변수 없음

In [15]:
## 성별 컬럼을 object ===> category
personDF.genders.astype('category')

0    M
1    F
2    M
3    M
4    F
5    M
6    M
7    M
8    M
9    M
Name: genders, dtype: category
Categories (2, object): ['F', 'M']

### (2) 연속형 데이터 => 범주형 데이터로 변환--------------------------------------------------------------
* astype('데이터타입') => 대량 범주형 생성 문제
* cut(데이터, 구간정보, 구간라벨) => 범위 즉 구간 설정 => 범주로 변경

In [17]:
personDF.ages # --> 연령대 범주형
# 아동, 청소년, 청년, 중년, 장년, 노년

0      0
1      4
2     21
3     20
4     38
5    100
6     40
7     61
8     11
9     20
Name: ages, dtype: int64

In [27]:
ret1,bins=pd.cut(personDF.ages, bins=5, labels=['아동기','청년','중년','장년','노년'],
            right=False, retbins=True, include_lowest=True)

In [28]:
ret1

0    아동기
1    아동기
2     청년
3     청년
4     청년
5     노년
6     중년
7     장년
8    아동기
9     청년
Name: ages, dtype: category
Categories (5, object): ['아동기' < '청년' < '중년' < '장년' < '노년']

In [29]:
bins

array([  0. ,  20. ,  40. ,  60. ,  80. , 100.1])

In [ ]:
sel=p2.loc[0,'아동기':]

sel.to