In [3]:
import pandas as pd 
fragrance_df=pd.read_csv('./MyData/fragrance.csv')

In [4]:
fragrance_df.head(3)

,브랜드,이름,성별,TPO,계절감,향의농도,특성,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,딥디크,1,Unnamed: 14,Unnamed: 15,성별.1,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21
0,1,롬브로단로EDP,중성,"캐쥬얼,포멀",사계절,무거운,"플로럴,그린,우디,얼씨,프루티",NaN,NaN,NaN,...,조말론,2.0,NaN,남자1,여자2,중성3,NaN,NaN,NaN,NaN
1,1,필로시코스EDP,여성,캐쥬얼,"봄,여름",가벼운,"그린,프레쉬,우디,얼씨,프루티",NaN,NaN,NaN,...,바이레도,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,베티베리오EDP,중성,"캐쥬얼,포멀","가을,겨울",무거운,"우디,시트러스,얼씨,그린,플로럴",NaN,NaN,NaN,...,이솝,4.0,NaN,NaN,TPO,NaN,NaN,NaN,NaN,NaN

In [7]:
perfume=fragrance_df.iloc[:182,:6]

In [17]:
perfume

     브랜드           이름  성별     TPO      계절감 향의농도
0      1     롬브로단로EDP  중성  캐쥬얼,포멀      사계절  무거운
1      1     필로시코스EDP  여성     캐쥬얼     봄,여름  가벼운
2      1     베티베리오EDP  중성  캐쥬얼,포멀    가을,겨울  무거운
3      1        도손EDP  중성  캐쥬얼,포멀  봄,가을,겨울  무거운
4      1        도손EDT  여성     캐쥬얼      사계절   중간
..   ...          ...  ..     ...      ...  ...
176   50     우드자스민EDP  중성      포멀    가을,겨울  무거운
177   50     그리사르넬EDP  중성  캐쥬얼,포멀  봄,가을,겨울   중간
178   50      빠스수아EDP  중성  캐쥬얼,포멀      사계절   중간
179   50  튜베로즈임페리얼EDP  여성      포멀  봄,가을,겨울  무거운
180   50      셀다르장EDP  중성     캐쥬얼     봄,여름  가벼운

[181 rows x 6 columns]

In [18]:
# 'col1' 열을 숫자로 바꾸기
perfume.iloc[:,1] = pd.factorize(perfume.iloc[:,1])[0] + 1

print(perfume.iloc[:,1])

0        1
1        2
2        3
3        4
4        5
      ...
176    177
177    178
178    179
179    180
180    181
Name: 이름, Length: 181, dtype: int64

C:\Users\y2kjd\AppData\Local\Temp\ipykernel_34540\3651513133.py:2: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  perfume.iloc[:,1] = pd.factorize(perfume.iloc[:,1])[0] + 1

In [19]:
# 문자열을 숫자로 바꾸기 위한 매핑 딕셔너리 생성
mapping = {'남성': 1, '여성': 2, '중성': 3}

# 'col1' 열의 값을 매핑 딕셔너리를 사용하여 숫자로 변환
perfume['성별'] = perfume['성별'].map(mapping)



# 문자열을 숫자로 바꾸기 위한 매핑 딕셔너리 생성
mapping = {'캐쥬얼': 1, '포멀': 2, '캐쥬얼,포멀': 3}

# 'col1' 열의 값을 매핑 딕셔너리를 사용하여 숫자로 변환
perfume['TPO'] = perfume['TPO'].map(mapping)

print(perfume)

     브랜드   이름  성별  TPO      계절감 향의농도
0      1    1   3    3      사계절  무거운
1      1    2   2    1     봄,여름  가벼운
2      1    3   3    3    가을,겨울  무거운
3      1    4   3    3  봄,가을,겨울  무거운
4      1    5   2    1      사계절   중간
..   ...  ...  ..  ...      ...  ...
176   50  177   3    2    가을,겨울  무거운
177   50  178   3    3  봄,가을,겨울   중간
178   50  179   3    3      사계절   중간
179   50  180   2    2  봄,가을,겨울  무거운
180   50  181   3    1     봄,여름  가벼운

[181 rows x 6 columns]

In [20]:
# 문자열을 숫자로 바꾸기 위한 매핑 딕셔너리 생성
mapping = {'가벼운': 1, '무거운': 2, '중간': 3}

# 'col1' 열의 값을 매핑 딕셔너리를 사용하여 숫자로 변환
perfume['향의농도'] = perfume['향의농도'].map(mapping)




# 문자열을 숫자로 바꾸기 위한 매핑 딕셔너리 생성
mapping = {'봄,여름': 1, '봄,가을': 2, '봄,여름,가을': 3, '봄,가을,겨울':4, '여름,가을,겨울':5, '가을,겨울':6, '사계절':7}

# 'col1' 열의 값을 매핑 딕셔너리를 사용하여 숫자로 변환
perfume['계절감'] = perfume['계절감'].map(mapping)

In [21]:
perfume

     브랜드   이름  성별  TPO  계절감  향의농도
0      1    1   3    3    7     2
1      1    2   2    1    1     1
2      1    3   3    3    6     2
3      1    4   3    3    4     2
4      1    5   2    1    7     3
..   ...  ...  ..  ...  ...   ...
176   50  177   3    2    6     2
177   50  178   3    3    4     3
178   50  179   3    3    7     3
179   50  180   2    2    4     2
180   50  181   3    1    1     1

[181 rows x 6 columns]

In [22]:
import pycaret

In [23]:
from pycaret.classification import *

In [24]:
exp=setup(data = perfume, target="이름")

In [25]:
a=compare_models()

In [26]:
from sklearn.ensemble import RandomForestClassifier

In [27]:
rf = RandomForestClassifier()

In [28]:
rf.fit(perfume.drop('이름',axis=1),perfume['이름'])

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [31]:
rf.predict([[1]*5])

array([2], dtype=int64)

In [32]:
# #브랜드	이름


# 딥디크	1
# 조말론	2
# 바이레도	3
# 이솝	4
# 톰포드	5
# 프레데릭말	6
# 퍼퓸드말리	7
# 조보이	8
# 제로보암	9
# 오케스트라퍼퓸	10
# 이니시오	11
# 메모	12
# 알마프	13
# 아프난	14
# 크리드	15
# 나소마토	16
# 산타마리아노벨라	17
# 디올	18
# 샤넬	19
# 자라	20
# 에따리브르도랑쥬	21
# 모스키노	22
# 아이젠버그	23
# 메종마르지엘라	24
# 밀러해리스	25
# 아쿠아디파르마	26
# 쇼파드	27
# 르라보	28
# 티지아나테렌지	29
# 메종프란시스커정	30
# 메종크리벨리	31
# 킬리안	32
# 라리크	33
# 펜할리곤스	34
# 에르메스	35
# 반클리프앤아펠	36
# 히스토리드퍼퓸	37
# 프레드릭엠	38
# 4160튜즈데이	39
# 꼼데가르송	40
# 버버리	41
# 파코라반	42
# 돌체앤가바나	43
# 제르조프	44
# 랑방	45
# 패리스힐튼	46
# 입생로랑	47
# 지미추	48
# mdci	49
# bdk	50



# 성별
# '남성': 1, '여성': 2, '중성': 3



# TPO
# '캐쥬얼': 1, '포멀': 2, '캐쥬얼,포멀': 3



# 계절감
# '봄,여름': 1, '봄,가을': 2, '봄,여름,가을': 3, '봄,가을,겨울':4, '여름,가을,겨울':5, '가을,겨울':6, '사계절':7



# 향의농도
# '가벼운': 1, '무거운': 2, '중간': 3

In [39]:
# 그냥 해본거
# 프레데릭말, 중성, 캐쥬얼, 봄 여름, 중간
# 제라늄 뿌르무슈
rf.predict([[6,3,1,1,3]])

array([33], dtype=int64)

In [38]:
# 르 략크 덩으 무슈
# 에르메스, 남성, 포멀, 가을겨울,무거운
rf.predict([[6,1,2,6,2]])

array([34], dtype=int64)

In [37]:
# 르 꼼테 데 떼네브레(어둠의 백작)
# 프로미스
rf.predict([[6,1,2,6,2]])

array([34], dtype=int64)

In [40]:
# 르 홍열
#
rf.predict([[1,1,2,6,1]])

array([25], dtype=int64)